*{
    box-sizing: border-box;
}
html{
    font-size: 1rem;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    max-width: 600px;
    margin: 0 auto;
    border: 4px solid black;
    height: 320px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 1rem;
}
header{
    height: 20%;
    background-color: #14C38E;
    font-size: 0.8rem;
    font-weight: 900;
    padding-left: 1rem;
    font-family: 'Lucida Sans';
    min-width:370px;
}
main{
    min-width:370px;
    display: flex;
    margin-top: none;
    height: 60%;
    color: white;
    font-weight: bold;
    font-style: italic;
}
section:first-child{
    min-width: 220px;
    flex:1;
    background-color: #00FFAB;
    line-height: 0.3rem;
    padding-left: 0.75rem;
    color: #F32424;
}
section:last-child{
    width: 150px;
    background-image: url("images/mypic.jpeg");
    background-repeat: no-repeat;
    background-size: 180px 240px;
}
footer{
    height: 20%;
    background-color: #14C38E;
    font-size: 1.1rem;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 0.5rem;
    min-width:370px;
}
